.container {

  min-height: 100vh;
  background-color: #eee;
  padding: 30px;
}

.user {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 100ms ease-in-out;
}

.user:hover {
transform: scale(1.05);
}

.user img {
max-width: 100%;
}

.user-content {
padding: 30px;
}